<menu>
    <menuitem label='_t{Administration}'>
        <icon>fas:sliders fa-fw</icon>
        <menu>
              <menuitem label='Vendas'>
                  <icon>far:edit fa-fw</icon>
                  <action>VendasList</action>
              </menuitem>
              <menuitem label='Relatórios'>
                  <icon>fas:file-medical-alt fa-fw</icon>
                  <action>RelatorioVendas</action>
              </menuitem>
              <menuitem label='Gráficos'>
                  <icon>fas:database fa-fw</icon>
                  <action>GraficoVendas</action>
              </menuitem>
              <menuitem label='_t{Programs}'>
                  <icon>far:file-code fa-fw</icon>
                  <action>SystemProgramList</action>
              </menuitem>
              <menuitem label='_t{Users}'>
                  <icon>fas:user fa-fw</icon>
                  <action>SystemUserList</action>
              </menuitem>
        </menu>
    </menuitem>
    
    <menuitem label='Logout'>
        <action>LoginForm#method=onLogout#static=1</action>
        <icon>fas:sign-out-alt fa-fw</icon>
    </menuitem>
</menu>
